
body {
    background-color: lightseagreen;
    font-family: 'Roboto Mono', monospace;
    border: 4px solid green;
    
}

.intro{
    margin-left: 12px;
    margin-top: 200px;

}

.heading{
    margin-left: 6px;
    position: fixed;
}
/*Haley*/

.haley {
    background-color: gold;
    margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
  border: 3px solid green;

  
}

.oHaley{
    position: relative;
    bottom: 66px;
    left: 0px;
    opacity: 0;
    transition: .8s ease;
}

.haley:hover .oHaley {
    opacity: 1;
  }

.tHaley {

    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
 }

/*Shane*/


.shane {
    background-color: rgb(13, 216, 243);
    margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
  border: 3px solid green;

}

.oShane{
    position: relative;
    bottom: 66px;
    left: 4px;
    opacity: 0;
    transition: .8s ease;
}

.shane:hover .oShane {
    opacity: 1;
  }

.tShane {

    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
 }


/*Lewis*/


.lewis {
    background-color: rgb(137, 189, 41);
    margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
  border: 3px solid green;
}
.oLewis{
    position: relative;
    bottom: 66px;
    left: 0px;
    opacity: 0;
    transition: .8s ease;
}

.lewis:hover .oLewis {
    opacity: 1;
  }

.tLewis {

    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
 }





/*Marnie*/

.marnie{
    background-color: rgb(194, 71, 55);
    margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
  border: 3px solid green;

}

.oMarnie{
    position: relative;
    bottom: 66px;
    left: 2px;
    opacity: 0;
    transition: .8s ease;
}

.marnie:hover .oMarnie {
    opacity: 1;
  }

.tMarnie {

    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
 }

/*Krobus*/


.krobus {
    background-color: rgb(112, 106, 216);
    margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
  border: 3px solid green;
}

.oKrobus{
    position: relative;
    bottom: 66px;
    left: 0px;
    opacity: 0;
    transition: .8s ease;
}

.krobus:hover .oKrobus {
    opacity: 1;
  }

.tKrobus {

    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
 }





/*

.overlay{
    position: absolute;
    top: 06px;
    bottom: 0;
    left: 10px;
    right: 0;
    height: 168px;
    width: 346px;
    opacity: 0;
    transition: .5s ease;
    
}

.heading:hover .overlay {
    opacity: 1;
  }
.text {

    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
 }
 */